<h1><%= @creature.name%></h1>
<p>"<%= @creature.description%>"</p>

<%= link_to edit_creature_path(@creature) do%>
 <div><button>Edit <%=@creature.name%></button></div>
<% end %>

<br />

<%= link_to creature_path(@creature.id), method: :delete, data: {confirm: "Are you sure?"} do%>
 <div><button>Delete <%=@creature.name%></button></div>
<% end %>